In [1]:
import pandas as pd
import numpy as np

In [2]:
solar = pd.read_csv('solar.csv')

In [4]:
price = solar

In [8]:
#Import pounds/MWh
price['pimp'] = 0
price['pexp'] = 0

In [28]:
for i in range(len(price['Datetime'])):
    k = int(price['Datetime'][i][-8:-6])
    if k >= 7 and k < 16:
        price['pimp'][i] = 56.1
    elif k >= 16 and k < 22:
        price['pimp'][i] = 63.3
    elif k >= 22 or k < 7:
        price['pimp'][i] = 105.8

<ipython-input-28-2d2799b368ee>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pimp'][i] = 105.8
<ipython-input-28-2d2799b368ee>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pimp'][i] = 56.1
<ipython-input-28-2d2799b368ee>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pimp'][i] = 63.3

In [29]:
for i in range(len(price['Datetime'])):
    k = int(price['Datetime'][i][-8:-6])
    if k >= 7 and k < 16:
        price['pexp'][i] = 105
    elif k >= 16 and k < 22:
        price['pexp'][i] = 142
    elif k >= 22 or k < 7:
        price['pexp'][i] = 231

<ipython-input-29-e46b84c2caa7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pexp'][i] = 231
<ipython-input-29-e46b84c2caa7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pexp'][i] = 105
<ipython-input-29-e46b84c2caa7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['pexp'][i] = 142

In [26]:
price.drop(columns=['Power (MW)'],inplace=True)

In [30]:
price

                  Datetime  pimp  pexp
0      2019-01-01 00:00:00   105   231
1      2019-01-01 00:30:00   105   231
2      2019-01-01 01:00:00   105   231
3      2019-01-01 01:30:00   105   231
4      2019-01-01 02:00:00   105   231
...                    ...   ...   ...
17514  2019-12-31 21:00:00    63   142
17515  2019-12-31 21:30:00    63   142
17516  2019-12-31 22:00:00   105   231
17517  2019-12-31 22:30:00   105   231
17518  2019-12-31 23:00:00   105   231

[17519 rows x 3 columns]

In [ ]:
pd.save_csv