In [8]:
import requests
import pandas as pd
import json
from tqdm import tqdm
#Toekn
token = 'f00567baddd7638e5d547616255bfd69896297c5'

In [9]:
### Utils
#Get multiple year data
def post_data_generator(start,end):
    if start >= end: return False
    date_from,date_to = [],[]
    for i in range(end-start+1):
        date_from.append(str(start+i)+'-01-01')
        date_to.append(str(start+i)+'-12-31')
    return date_from,date_to

#Post to get Data
def post_and_process(url,args,token):
    s = requests.session()
    s.headers = {'Authorization': 'Token ' + token}
    r = s.get(url, params=args)
    parsed_response = json.loads(r.text)
    data = pd.read_json(json.dumps(parsed_response['data']), orient='index')
    metadata = parsed_response['metadata']
    return data,metadata

In [ ]:
#Prepare request
api_base = 'https://www.renewables.ninja/api/'
url = api_base + 'data/pv'
date_from,date_to = post_data_generator(2001,2006)
df = pd.DataFrame(['start'],columns=['electricity'])
for i in tqdm(range(len(date_from))):
    try:
        args = {
            'lat': 51.6563,
            'lon': -1.2551,
            'date_from': date_from[i],
            'date_to': date_to[i],
            'dataset': 'merra2',
            'capacity': 1.0,
            'system_loss': 0.1,
            'tracking': 0,
            'tilt': 35,
            'azim': 180,
            'format': 'json'
        }
        data,metadata = post_and_process(url,args,token)
        df = pd.concat([df, data])
    except:
        print('fail to get data for {s} to {e}'.format(s=date_from[i],e=date_to[i]))

  0%|                                                                                            | 0/6 [00:00<?, ?it/s]

In [74]:
df

                    electricity
0                         start
2001-09-09 02:00:00         0.0
2001-09-09 03:00:00         0.0
2001-09-09 04:00:00         0.0
2001-09-09 05:00:00         0.0
...                         ...
2006-12-31 19:00:00         0.0
2006-12-31 20:00:00         0.0
2006-12-31 21:00:00         0.0
2006-12-31 22:00:00         0.0
2006-12-31 23:00:00         0.0

[52585 rows x 1 columns]