In [73]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import datetime

# set total capacity in kWh
#cap = 

# import and rearange data
df_raw = pd.read_excel (r'C:\Users\Connor Trewhella\Documents\3YP\ninja_pv_45_1kW.xlsx')
df_useful = df_raw.tail(8760)
df_useful.reset_index(inplace=True)
df_useful = df_useful.rename(columns={'# Renewables.ninja Solar PV (Point API) - 51.658': 'Datetime', 'Unnamed: 2': 'Power'})
df_pwr_hourly = df_useful[["Datetime", "Power"]]      # note: this is also hourly energy (kWh)
df_pwr_hourly.set_index(pd.to_datetime(df_pwr_hourly['Datetime']))
#df_energy_daily = df_pwr_hourly.resample('24H').sum()
#df_energy_daily.head(50)
df_pwr_hourly.head(50)

               Datetime  Power
0   2019-01-01 00:00:00      0
1   2019-01-01 01:00:00      0
2   2019-01-01 02:00:00      0
3   2019-01-01 03:00:00      0
4   2019-01-01 04:00:00      0
5   2019-01-01 05:00:00      0
6   2019-01-01 06:00:00      0
7   2019-01-01 07:00:00      0
8   2019-01-01 08:00:00      0
9   2019-01-01 09:00:00  0.017
10  2019-01-01 10:00:00  0.042
11  2019-01-01 11:00:00   0.08
12  2019-01-01 12:00:00  0.091
13  2019-01-01 13:00:00  0.107
14  2019-01-01 14:00:00  0.073
15  2019-01-01 15:00:00  0.021
16  2019-01-01 16:00:00      0
17  2019-01-01 17:00:00      0
18  2019-01-01 18:00:00      0
19  2019-01-01 19:00:00      0
20  2019-01-01 20:00:00      0
21  2019-01-01 21:00:00      0
22  2019-01-01 22:00:00      0
23  2019-01-01 23:00:00      0
24  2019-01-02 00:00:00      0
25  2019-01-02 01:00:00      0
26  2019-01-02 02:00:00      0
27  2019-01-02 03:00:00      0
28  2019-01-02 04:00:00      0
29  2019-01-02 05:00:00      0
30  2019-01-02 06:00:00      0
31  2019-01-02 07:00:00      0
32  2019-01-02 08:00:00  0.033
33  2019-01-02 09:00:00  0.223
34  2019-01-02 10:00:00   0.41
35  2019-01-02 11:00:00  0.458
36  2019-01-02 12:00:00  0.441
37  2019-01-02 13:00:00  0.362
38  2019-01-02 14:00:00  0.221
39  2019-01-02 15:00:00  0.058
40  2019-01-02 16:00:00      0
41  2019-01-02 17:00:00      0
42  2019-01-02 18:00:00      0
43  2019-01-02 19:00:00      0
44  2019-01-02 20:00:00      0
45  2019-01-02 21:00:00      0
46  2019-01-02 22:00:00      0
47  2019-01-02 23:00:00      0
48  2019-01-03 00:00:00      0
49  2019-01-03 01:00:00      0